body {
	background-color: #00aa72;
}

#right {
	float:right;
	width: 400px;
}
#left {
	float:left;
}
header {
	background-color: #60b9ce;
	padding: 15px;
	margin: 15px;

}

a:hover {
	background-color: #a65200;
}
nav a{
	padding: 15px;
	margin: 15px;
	color: black;
	text-decoration: none;
	background-color: #04819E;
	border-radius: 5px;
	font-size: 1.5em;
}